body {
  background-color: #fffffc;
  color: #383737; }
  body.night-theme {
    background-color: #383737;
    color: #fffffc; }

#theme-button {
  font-size: 25px;
  outline: 0;
  background-color: #383737;
  color: #fffffc; }
  .night-theme #theme-button {
    background-color: #fffffc;
    color: #383737; }
