$night: #383737;
$day: #fffffc;

body {
  background-color: $day;
  color: $night;

  &.night-theme {
    background-color: $night;
    color: $day;
  }
}

#theme-button {
  font-size: 25px;
  outline: 0;
  background-color: $night;
  color: $day;

  .night-theme & {
    background-color: $day;
    color: $night;
  }
}
